python-chess==1.999
matplotlib==3.7.1
scikit-learn==1.2.2
google-auth==2.19.1
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.88.0
Cython==0.29.35
torch==2.0.1
joblib==1.2.0
setuptools==67.8.0
