--index-url https://pypi.org/simple
--extra-index-url https://https://download.pytorch.org/whl/cu121
darkdetect==0.5.1
numpy==1.26.4
PyQt5==5.15.11
PyQt5_sip==12.13.0
pyqtgraph==0.12.4
scipy==1.11.4
torch==2.4.0
setuptools==73.0.0